@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
